<div class="modal-container">
  <div class="title">Форма зарахуванна до першого класу</div>
  <div class="close-icon" (click)="closeEmit.emit()">x</div>
  <mat-form-field>
    <input matInput placeholder="Прізвище">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ім’я">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="По батькові">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Дата народження">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Адреса проживання">
  </mat-form-field>
  <div class="btn-group">
    <button mat-raised-button (click)="closeEmit.emit()">Закрити</button>
    <button mat-raised-button color="primary">Надіслати</button>
  </div>
</div>
