/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaflet-interactive{
  &.active{
    stroke: rgb(102, 102, 102);
    stroke-width: 2px;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 2px;

  .school-wrap {
    display: flex; flex-direction: column;
    img {
      height: auto; width: 100%;
      object-fit: cover; max-height: 210px;
    }
    em{
      margin-bottom: 20px;
    }
  }
}
.leaflet-marker-draggable{
  display: none;
}
.leaflet-routing-container{
  display: none;
}
